<div class="container">
    <h1 class="display-2 pb-2 mt-4 mb-2 border-bottom">Register User</h1>
    <form action="/users/new" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <table class="table">
            <tr>
                <td><label for="Name">Name:</label></td>
                <td><input class="form-control" type="text" name="user[name]" id="Name"></td>
            </tr>
            <tr>
                <td><label for="Email">Email:</label></td>
                <td><input class="form-control" type="email" name="user[email]" id="Email"></td>
            </tr>
            <tr>
                <td><label for="Password">Password:</label></td>
                <td><input class="form-control" type="password" name="user[password]" id="Password"></td>
            </tr>
            <tr>
                <td><label for="Password_Confirmation">Password Confirmation:</label></td>
                <td><input class="form-control" type="password" name="user[password_confirmation]" id="Password_Confirmation"></td>
            </tr>
        </table>
        <button class="btn btn-success" type="submit">Join</button>
    </form>
</div>