// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btnmgn {
    margin: 0 0 40px 20px !important;
}

.left {
    text-align: left;
}

.secrets {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

td {
    border: none !important;
}