<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Login & Register</h1>
    </div>
    <div class="row">
        <div class="col">
            <h1>Login</h1>
            <form action="/sessions/login" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <table class="table">
                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input class="form-control" type="text" name="email" id="login_email"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password:</label></td>
                        <td><input class="form-control" type="password" name="password" id="login_password"></td>
                    </tr>
                </table>
                <button class="btn btn-primary" type="submit" id="login">Login</button>
            </form>
            <% if flash[:messages] %>
                <% for error in flash[:messages]%>
                    <p class="text-danger font-weight-bold m-0"><%= error %></p>
                <% end %>
            <% end %>
        </div>
        <div class="col">
            <h1>Register</h1>
            <form action="/users" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <table class="table">
                     <tr>
                        <td><label for="first_name">First Name:</label></td>
                        <td><input class="form-control" type="text" name="user[first_name]" id="first_name"></td>
                    </tr>
                    <tr>
                        <td><label for="last_name">Last Name:</label></td>
                        <td><input class="form-control" type="text" name="user[last_name]" id="last_name"></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input class="form-control" type="text" name="user[email]" id="register_email"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password:</label></td>
                        <td><input class="form-control" type="password" name="user[password]" id="register_password"></td>
                    </tr>
                    <tr>
                        <td><label for="password_confirmation">Confirm Password:</label></td>
                        <td><input class="form-control" type="password" name="user[password_confirmation]" id="password_confirmation"></td>
                    </tr>
                </table>
                <button class="btn btn-primary" type="submit" id="register">Register</button>
            </form>
        </div>
    </div>
</div>