<div class="container">
    <div class="jumbotron display-4">Class Enrollment</div>
    <div class="row">
        <div class="col">
            <h2>Login</h2>
            <form action="/sessions" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <table class="table table-borderless">
                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input class="form-control" type="email" name="email" id="email"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password:</label></td>
                        <td><input class="form-control" type="password" name="password" id="password"></td>
                    </tr>
                </table>
                <button class="btn btn-primary mb-2" type="submit">Login</button>
            </form>
            <% if flash[:messages] %>
                <% for error in flash[:messages]%>
                    <p class="text-danger font-weight-bold m-0"><%= error %></p>
                <% end %>
            <% end %>
        </div>
        <div class="col">
            <h2>Register</h2>
            <form action="/users" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <table class="table table-borderless">
                    <tr>
                        <td><label for="first_name">First Name:</label></td>
                        <td><input class="form-control" type="text" name="user[first_name]" id="first_name"></td>
                    </tr>
                    <tr>
                        <td><label for="last_name">Last Name:</label></td>
                        <td><input class="form-control" type="text" name="user[last_name]" id="last_name"></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input class="form-control" type="email" name="user[email]" id="email"></td>
                    </tr>
                    <tr>
                        <td><label for="admin">Role:</label></td>
                        <td><select class="form-control" name="user[admin]" id="admin">
                            <option value="false">Student</option>
                            <option value="true">Instructor</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password:</label></td>
                        <td><input class="form-control" type="password" name="user[password]" id="password"></td>
                    </tr>
                    <tr>
                        <td><label for="password_confirmation">Confirm Password:</label></td>
                        <td><input class="form-control" type="password" name="user[password_confirmation]" id="password_confirmation"></td>
                    </tr>
                </table>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>