// Place all the styles related to the Secrets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete_button {
    text-align: left;
}

.secrets {
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}