<div class="container">
    <h1 class="display-2 pb-2 mt-4 mb-2 border-bottom">User Log In</h1>
    <form action="/sessions/new" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <table class="table">
            <tr>
                <td><label for="Email">Email:</label></td>
                <td><input class="form-control" id="Email" type="email" name="email"></td>
            </tr>
            <tr>
                <td><label for="Password">Password:</label></td>
                <td><input class="form-control" id="Password" type="password" name="password"></td>
            </tr>
        </table>
        <button class="btn btn-primary">Log In</button>
        <a href="/users/new"><button class="btn btn-info">New User</button></a>
    </form>
</div>