<div class="container">
    <div class="pb-2 mt-4 mb-4 border-bottom display-4 left">
        <%= @user.first_name %> <%= @user.last_name %>
        <a class="float" href="/sessions" data-method="delete"><button class="btn btn-primary">Logout</button></a>
        <a class="float mr-1" href="/users"><button class="btn btn-primary">Back</button></a>
    </div>
    <h2>Class Schedule</h2>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Subject</th>
                <th>Room Number</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>